/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header#main-header {
    background-image: url('ind.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header#main-header .header-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 10px;
}

header#main-header h1 {
    margin: 0;
    font-size: 2.5em;
}

header#main-header p {
    font-size: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
    display: flex; /* Added flex display */
    justify-content: center; /* Center align items horizontally */
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Apply Button Styles */
.apply-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: #218838;
}

/* Job Vacancy Styles */
.job-vacancy {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 300px; /* Added fixed width for consistent size */
}

.job-vacancy h3 {
    margin-top: 0;
}

/* Contact Details Styles */
.contact-details {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-details li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
